body{
    margin: 0;
    padding: 0;
    background: #A181B3;
}

#root{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
}

.main-body{
    height : 70vh;
    width: 95%;
    margin-top: 8rem
}

.left-menu{

    background-color: #35244D;
    height: 100%;
    width: 5%
}

/* contacts */
.con-container{
    background-color: #402E58;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.con-search{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #35244D;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-box{
    width: 85%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box > input{
    width: 85%;
    height: 90%;
    border: none;
    outline: none;
    background-color: #35244D;
    color: white;
}

.add-contact{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contacts{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.con-user{
   width: 90%;
   height: 15%;
   margin-top: 1rem;
   display: flex;
}

.con-user-pp{
     height: 90%;
     width: 18%;
     border: 1px solid red;
     border-radius: 60%;
}
.con-user-msg{
    height: 80%;
    width: 80%;
    margin-left: 0.5rem;
}

.con-user-msg > h3{
    color : white;
    margin: 0;
    margin-top: 0.6rem;
}

.con-user-msg > h3:hover{
    cursor: pointer;
}

.con-user-msg > p{
    color : #66557E;
    margin-top: 0.6rem;
}

/* Chatbox */
.chat-box{
    background-color: white;
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: monospace;
}

.chat-user{
    width: 100%;
    height: 15%;
    border-bottom: 0.25px solid #F8F8F8 ;
    display: flex;
    justify-content: flex-end;
}

.user-display{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.user-pic{
    height: 60%;
    width: 10%;
    border: 1px solid green;
    border-radius: 50%;
    margin-left:2rem ;
}

.user-online-info{
    height: 100%;
    width: 80%;
    margin-left:2rem ;
}

.user-online-info >p{
   margin-top: 0px;
}

.user-box{
    width: 50%;
    height: 100%;
    border: 1px solid red;
}

.chat-message{
    width: 100%;
    height: 80%;
    border-bottom:0.25px solid #F8F8F8 ;
}

.send-message{
    width: 100%;
    height: 10%;
    display: flex;
}

.send-file{
   height: 100%;
   width: 5%;
   border: 1px solid red;
   margin-left: 2rem;
}

.message-box{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-box > input{
    height: 80%;
    width: 80%;
    border:0.25px solid #F8F8F8 ;
    outline: none;
}

.btn-send{

}


